<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sf3 test{% endblock title %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% stylesheets filter="scssphp" output="css/app.css"
            "assets/css/bootstrap.css"
            "assets/scss/style.scss"
        %}
        
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts filter="?jsqueeze" output="js/jquery.js"
        "assets/js/vendor/jquery-3.3.1.min.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500&amp;subset=latin-ext" rel="stylesheet">

    </head>
    <body>
        {% block header %}
            {% include 'main/header.html.twig' %}
        {% endblock header %}
        {% block body %}{% endblock body %}

        {% javascripts filter="?jsqueeze" output="js/app.js"
        "assets/js/vendor/bootstrap.js"
        "assets/js/main.js"        
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </body>
</html>
