{% extends 'base.html.twig' %}

{% block title %}About{% endblock title %}

{% block body %}

{% block header %}{% endblock header %}

<section class="container-fluid">
	<div class="row p-0">
		
		{% include 'main/aside.html.twig' %}

		<nav class="col p-4">
			<div class="row justify-content-center">
				<div class="col-8 subp-main-photo">
					<img src="{{ asset('uploads/reszta/img_bg_2.jpg') }}" />
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-6 about-text">
					<h1 class="mt-5 mb-4">About</h1>
					<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					<p class="mb-4">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
					<p class="mb-4">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-8 about-a">
					<h2 class="text-center">The Team</h2>
				</div>
				<div class="container">
					<div id="teamCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
						<ol class="carousel-indicators">
							<li data-target="kropka" data-slide-to="0" class="active"></li>
							<li data-target="kropka" data-slide-to="1"></li>
						</ol>
						<div class="carousel-inner row w-100 mx-auto">
							<div class="carousel-item active p-1 col-md-4">
							<div>
								<img class="w-100" src="{{ asset('uploads/reszta/person_1.jpg') }}" alt="Pierwszy" />
								<div class="car-cap position-relative">
									<h4>James Carl</h4>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							</div>
							<div class="carousel-item col-md-4">
							<div>
								<img class="w-100" src="{{ asset('uploads/reszta/person_2.jpg') }}" alt="Pierwszy" />
								<div class="car-cap position-relative">
									<h4>Craig Smith</h4>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							</div>
							<div class="carousel-item col-md-4">
							<div>
								<img class="w-100" src="{{ asset('uploads/reszta/person_3.jpg') }}" alt="Pierwszy" />
								<div class="car-cap position-relative">
									<h4>Peter Wood</h4>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							</div>
							<div class="carousel-item col-md-4">
							<div>
								<img class="w-100" src="{{ asset('uploads/reszta/person_1.jpg') }}" alt="Pierwszy" />
								<div class="car-cap position-relative">
									<h4>Peter Wood</h4>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							</div>
							<div class="carousel-item col-md-4">
							<div>
								<img class="w-100" src="{{ asset('uploads/reszta/person_2.jpg') }}" alt="Pierwszy" />
								<div class="car-cap position-relative">
									<h4>Peter Wood</h4>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							</div>
						</div>
						<a class="carousel-control-prev left" href="#teamCarousel" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next right" href="#teamCarousel" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>



				</div>

			</div>
		</nav>
		

	</div>
</section>

{% endblock body %}