{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock title %}

{% block body %}

{% block header %}{% endblock header %}

<section class="container-fluid">
	<div class="row p-0">
		
		{% include 'main/aside.html.twig' %}

		<nav class="col p-4">
			<div class="row justify-content-center">
				<div class="col-md-8 subp-main-photo">
					<img src="{{ asset('uploads/reszta/img_bg_1.jpg') }}">
				</div>
			</div>
			<div class="row justify-content-center mb-4">
				<h2 class="col-6">Contact</h2>
			</div>
			<div class="row justify-content-center">
				<form class="contact-form">
					<div class="row">
						<div class="col p-0 pr-5">
							<div class="form-group">
								<label for="firstName">First Name</label>
								<input type="f-name" class="form-control" id="firstName">
							</div>
						</div>
						<div class="col p-0">
							<div class="form-group">
								<label for="lastName">Last Name</label>
								<input type="l-name" class="form-control" id="lastName">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group w-100">
							<label for="email">Email</label>
							<input type="e-mail" class="form-control" id="email">
						</div>
					</div>
					<div class="row">
						<div class="form-group w-100">
							<label for="message">Message</label>
							<textarea class="form-control" id="message" rows="5"></textarea>
						</div>
					</div>
				</form>
			</div>
		</nav>

	</div>
</section>


{% endblock body%}