{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Strona druga
{%endblock title %}

{% block body %}
	
<div class="testdiv" ">
	<p>ssssss</p>
</div>

<section class="container">
	<div class="row justify-content-center">
		<a href="#" class="col-4 foto">
			<img src=" {{ asset('/uploads/gallery/1.jpg') | imagine_filter('mini') }} " />
		</a>
		<a href="#" class="col-4 foto">
			<img src=" {{ asset('/uploads/gallery/2.jpg')| imagine_filter('mini') }} " />
		</a>
		<a href="#" class="col-4 foto">
			<img src=" {{ asset('/uploads/gallery/3.jpg') | imagine_filter('mini') }} " />
		</a>
		<a href="#" class="col-4 foto">
			<img src=" {{ asset('/uploads/gallery/4.jpg') | imagine_filter('mini') }} " />
		</a>
			
	</div>
</section>

<section class="container">
	<div class="row">
		<div class="testdiv">
			<p>BABABAacsklS</p>
		</div>
	</div>
</section>

{% endblock body %}