{% extends 'base.html.twig' %}

{% block title %} Żarcie żarcie żarcie
{%endblock title %}

{% block body %}

{% block header %}{% endblock header %}

<section class="container-fluid">
	<div class="row p-0">
		
		{% include 'main/aside.html.twig' %}


		<nav class="col">
		<div class="row justify-content-center img-gallery">
			<div class="col-4 foto-column ">
				<!-- <a href="#">
					<img src=" {{ asset('/uploads/jedzenie/img_1.jpg') | imagine_filter('mniam') }}">
				</a>
				<a href="#">
					<img src=" {{ asset('/uploads/jedzenie/img_2.jpg') | imagine_filter('mniam') }}">
				</a>
				<a href="#">
					<img src=" {{ asset('/uploads/jedzenie/img_3.jpg') | imagine_filter('mniam') }}">
				</a>
				<a href="#">
					<img src=" {{ asset('/uploads/jedzenie/img_4.jpg') | imagine_filter('mniam') }}">
				</a>
				<a href="#">
					<img src=" {{ asset('/uploads/jedzenie/img_5.jpg') | imagine_filter('mniam') }}">
				</a> -->
				{% for foto in 1..6 %}
				 <a href="{{ asset('uploads/jedzenie/img_'~foto~'.jpg') }}">
					<img src=" {{ asset('/uploads/jedzenie/img_'~foto~'.jpg') | imagine_filter('mniam') }}">
				</a>
				{% endfor %}
			</div>
			<div class="col-4 foto-column">
				{% for foto in 9..13 %}
				<a href="{{ asset('uploads/jedzenie/img_'~foto~'.jpg') }}">
					<img src=" {{ asset('/uploads/jedzenie/img_'~foto~'.jpg') | imagine_filter('mniam') }}">
				</a>
				{% endfor %}	
			</div>
			<div class="col-4 foto-column">
				{% for foto in 16..19 %}
				<a href="{{ asset('uploads/jedzenie/img_'~foto~'.jpg') }}">
					<img src=" {{ asset('/uploads/jedzenie/img_'~foto~'.jpg') | imagine_filter('mniam') }}">
				</a>
				{% endfor %}	
			</div>
		</div>
		</nav>

		<div id="modal">
			<div class="img">
				<img src="#"/>
				<a href="#" class="close">X</a>
			</div>

		</div>
	</div>

</section>



{% endblock body %}	