{% extends 'base.html.twig' %}

{% block title %}Service{% endblock title %}

{% block body %}

{% block header %}{% endblock header %}

<section class="container-fluid">
	<div class="row p-0">
		
		{% include 'main/aside.html.twig' %}

		<nav class="col p-4">
			<div class="row justify-content-center">
				<div class="col-8 subp-main-photo">
					<img src="{{ asset('uploads/reszta/img_bg_1.jpg') }}" />
				</div>
			</div>
			<div class="row justify-content-center mb-7">
				<div class="col-md-6 about-text">
					<h1>Services</h1>
					<p class="mb-4">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
					<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
				</div>
			</div>
			<div class="row justify-content-center m-3">
				<div class="serv-modal col-xs-12 col-md-6 col-lg-4">
					<div>
						<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						<h3>Free Bootstrap 4</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="serv-modal col-xs-12 col-md-6 col-lg-4">
					<div>
						<i class="fa fa-wrench" aria-hidden="true"></i>
						<h3>Web Development</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="serv-modal col-xs-12 col-md-6 col-lg-4">
					<div>
						<i class="fa fa-user" aria-hidden="true"></i>
						<h3>For People Like You</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="serv-modal col-xs-12 col-md-6 col-lg-4">
					<div>
						<i class="fa fa-paper-plane" aria-hidden="true"></i>
						<h3>Free Bootstrap 4</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="serv-modal col-xs-12 col-md-6 col-lg-4">
					<div>
						<i class="fa fa-desktop" aria-hidden="true"></i>
						<h3>Web Development</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="serv-modal col-xs-12 col-md-6 col-lg-4">
					<div>
						<i class="fa fa-bug" aria-hidden="true"></i>
						<h3>For People Like You</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			</div>
		</nav>

	</div>
</section>

{% endblock body %}