@import 'vars';

body 
{
	font-family: "Work Sans", sans-serif;
}

.testdiv
{
	background-color: red;
}

.module
{
	background-color: #f1f1f1;
	margin: 2px;
}

.module2
{
	background-color: #efefef;
	margin: 5px;
}

.foto 
{
	padding: 0;
		& > img

	{
		width: 100%;

	}
}

h1 
{
	color: #ffff00;
	font-size: 10px;
}

.wrapper
{
	position: fixed;
	width: 24%;
	margin: 0 auto;
	height: 100vh;
	left: 0;
	top: 0;
	overflow-y: scroll;
	color: #859196;

	.menu
	{
		h3
		{
			color: #1FAD9F;
		}

		a 
		{	
			color: #000;
			width: min-content;
			padding-left:0;
			padding-right: 0; 
			border-bottom: 2px solid transparent;

			&.active
			{
		 		border-bottom: 2px solid #1FAD9F;

			}
/* 
			&::after
			{
				content: "";
	    		position: absolute;
			    bottom: 0;
			    width: 0;
			    left: 0;
			    height: 2px;
			    background: #1FAD9F;
			} */
		}


		.nav-item
		{

			&:hover a
			{
				border-bottom: 2px solid #1FAD9F;
			}
		}


/* 		.nav-link
		{
			&:after
			{
				content: "";
	    		position: absolute;
			    bottom: 0;
			    width: 0;
			    left: 0;
			    height: 2px;
			    background: #1FAD9F;

		}

		.nav-item
		{
			&:hover .nav-link:after
			{
				width: 20px;
			}
		} */
	} 

	.footer
	{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		color: #859196;
		font-size: 14px;
		animation-name: fadeMenu;
    	animation-duration: 2s;	
    	animation-timing-function: ease-out;

		.fa-twitter, .fa-instagram, .fa-basketball-ball
		{
			font-size: 20px;
			color: #666;

		}
	}
}

.foto-column
{
		padding: 7px;
		

	text-align: center;

		& a 
		{
			position: relative;
			display: block;
			margin-bottom: 14px;
			overflow: hidden;
			transform: scale(1);
			transition: all 0.3s;
			background-color: #e6e6e6;

			&.hide
			{
				opacity: 0;
			}

			& img 
			{
				width: 102%;	
				animation-name: fadeUp;
    			animation-duration: 1s;	
    			animation-timing-function: ease-out;		
			}

			&:before 
			{
				content: "";
				position: absolute;
				background: #fff;
				width: 100%;
				height: 100%;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all 0.5s;

			}

			&:hover
				{
					transform: scale(0.94);
					
				} 

			&:hover::before
			{
				transform: scale(0.96);
				opacity: 0.7;
			}
		}

}

.color 
{
	color: #1fad9f;
}

@keyframes fadeUp
{
	0% {transform: translateY(30%); opacity: 0}
	100% {transform: translateY(0); opacity: 1}
}


@keyframes fadeMenu
{
	0% {transform: translateX(-30%); opacity: 0}
	100% {transform: translateX(0); opacity: 1}
}

h3.fadeleft
{
	animation-name: fadeMenu;
    animation-duration: 0.5s;	
    animation-timing-function: ease-out;
}

p.fadeleft
{
	animation-name: fadeMenu;
    animation-duration: 0.7s;	
    animation-timing-function: ease-out;
}

ul.fadeleft
{
	li:nth-of-type(1)
	{
		animation-name: fadeMenu;
    	animation-duration: 0.9s;	
    	animation-timing-function: ease-out;
	}

	li:nth-of-type(2)
	{
		animation-name: fadeMenu;
    	animation-duration: 1.2s;	
    	animation-timing-function: ease-out;
	}

	li:nth-of-type(3)
	{
		animation-name: fadeMenu;
    	animation-duration: 1.5s;	
    	animation-timing-function: ease-out;
	}

	li:nth-of-type(4)
	{
		animation-name: fadeMenu;
    	animation-duration: 1.7s;	
    	animation-timing-function: ease-out;
	}


}

#modal
{
	position: absolute;
	display: none;
	height: 100vh;
	width: 100vw;
	background-color: rgba(#fff, 0.4);
	left: 0;
	top: 0;
	
	& .img 
	{
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-color: #fff;
		padding: 15px;
		box-shadow: 0 0 15px rgba(#000, 0.8);

		& img 
		{
			position: relative;
			display: block;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
			vertical-align: center;
		}
	}

	&.show 
	{
		display: block;
	}

	.close
	{
		position: absolute;
		display: block;
		right: 10px;
		top:10px;
		width: 25px;
		height: 25px;
		background-color: #fff;
		border-radius: 50%;
		text-align: center;
		line-height: 20px;
		color: #000;
		font-size: 20px;
		border: 2px solid #000;
		padding: 0;
	}

}

.subp-main-photo
{

	& > img
	{
		position: relative;
		display: block;
		width: 100%;
	}
}

.about-text
{
	& > h1 
	{
		font-size: 40px;
		color:#000;
	}

	& > p
	{
		font-family: "Work Sans", sans-serif;
		font-size: 18px;
		color: #859196;
		font-weight: 400;
		line-height: 1.8;
	}
}

#teamCarousel
{
	&:hover 
	{
		.carousel-control-prev, .carousel-control-next
		{
		opacity: 1;
		}
	}
}

.carousel-indicators
{
	& li 
	{
		background-color: #000;
	}
}

.carousel-item
{
	margin-top: 5px;
	padding: 2px;

	& > div
	{
		border: 1px solid #e9ecef
	}
}

.carousel-control
{
	color: #000;
} 


/* .multi-item-carousel{
  .carousel-inner{
    > .carousel-item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .carousel-item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carousel-control{
    &.left, &.right{
      background-image: none;
    }
  }
} */


@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
 {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
 {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item  {
        position: absolute;
        top: 0;
        right: -33.333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
   {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
{
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

.carousel-control-prev
{
	left: -6px;
}

.carousel-control-next
{
	right: -6px;
}


.carousel-control-prev, .carousel-control-next
{
	height: 14%;
	width: 8%;
	background: #1FAD9F;
	margin: auto;
	opacity: 0;
	transition: 0.4s all;
}

.car-cap
{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: left;
	margin: 0 40px;
	color: #859196;

	& h4
	{
		 color: #000;
	}
}

.serv-modal
{
	margin-bottom: 25px;

	& > div 
	{
		border: 1px solid #e6e6e6;
		padding: 55px 38px;

		& > h3
		{
			font-family: "Work Sans", sans-serif;		
			font-size: 20px;
		}

		& > p 
		{
			font-family: "Work Sans", sans-serif;		
			font-size: 18px;
		}
	}

	& .fa
	{
		font-size: 50px;
		margin-bottom: 20px;
		color: #1FAD9F;
	}

	&:last-of-type
	{
		margin-bottom: 130px;
	}

}

.contact-form
{
	input
	{
		height: 55px;
	}

	input, textarea
	{
		margin-top: 10px;
		border: 2px solid rgba(0, 0, 0, 0.2);

		&:active, &:focus
		{
			border: 2px solid rgba(0, 0, 0, 1);
			box-shadow: none;
		}

	}
}