<aside class="col-3">
			<div class="wrapper">
				<div class="menu m-4">
					<h3 class="text-uppercase fadeleft">Aside.</h3>
					<p class="fadeleft" >Another free html5 bootstrap 4 template by <span class="color"> uiCookies</p> </span>
					<ul class="nav flex-column fadeleft">
				  		<li class="nav-item">
				    		<a class="nav-link active" href="{{ path('homepage') }}">Home</a>
				  		</li>
				  		<li class="nav-item">
				    		<a class="nav-link" href="{{ path('about') }}">About</a>
				  		</li>
				  		<li class="nav-item">
				    		<a class="nav-link" href="{{ path('services') }}">Service</a>
				  		</li>
				  		<li class="nav-item">
				    		<a class="nav-link" href="{{ path('contact') }}">Contact</a>
				  		</li>
					</ul>


				</div>
				{% block footer %}

				<section class="footer pl-3">
					<div class="row col pb-2">
						<a href="#" class="p-2"> 
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="p-2">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="#" class="p-2">
							<i class="fas fa-basketball-ball"></i>
						</a>
					</div>

					<div class="row col">
						<p class="p-2">&copy; 2017 <span class="color">uiCookies:Aside. </span>
						All Rights Reserved.</p>
					</div>
				</section>

				{% endblock footer %}
				
			</div>
		</aside>