{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
    	<div class="row">
    		<article class="module col-sm-12 col-md p-3">
    			<h3>nagłówek</h3>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non tempore omnis accusamus, ipsam quam, et id minima, magni earum ad laudantium ea tempora? Accusantium perspiciatis laborum unde, impedit ullam inventore.</p>
    		</article>
    		<article class="module col p-3">
    			<h3>nagłówek</h3>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    		</article>
    		<article class="module col-4 text-center">
    			<h3>nagłówek</h3>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non tempore omnis accusamus, ipsam quam, et id minima, magni earum ad laudantium ea tempora? Accusantium perspiciatis laborum unde, impedit ullam inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut sed distinctio, odio quas. Aliquam, perferendis fugiat itaque vel corporis nemo doloribus. Pariatur reprehenderit iste, architecto inventore quos veritatis nam in.</p>
    		</article>
    		<article class="module col">
    			<div class="row h-100">
    				<div class="col align-self-center">
		    			<h3>nagłówek</h3>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		    		</div>
	    		</div>
    		</article>
    	</div>
    </section>

    <section class="container">
    	<a href="{{ url('druga') }}">LINK</a>
    </section>

    <section class="container">
    	<div class="row justify-content-center text-center">
	    	<article class="module2 col-5">
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laborum provident, rem id accusamus iure eius consequuntur voluptatibus nam ipsa placeat necessitatibus vel, dolorem officia. Quod dolor quos officia quidem.</p>
	    	</article>
	    	<article class="module2 col-5">
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus suscipit itaque eos cupiditate magni, similique ipsum quod provident harum voluptas nesciunt accusamus, perferendis exercitationem! Est temporibus perferendis fugiat in dolores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur error tempora quibusdam nobis facere suscipit mollitia illo corporis dicta, nihil voluptate sint voluptatum, quasi consectetur quia et iste, nulla tenetur!</p>
	    	</article>
	    </div>
    </section>
{% endblock %}
